/logs/
/src/.vscode/
/src/accounting_manager/__pycache__/
/src/accounting_manager/migrations/__pycache__/
/src/ceo/__pycache__/
/src/ceo/migrations/__pycache__/
/src/core/__pycache__/
/src/distributor/__pycache__/
/src/distributor/migrations/__pycache__/
/src/human_resources/__pycache__/
/src/human_resources/migrations/__pycache__/
/src/human_resources/templatetags/__pycache__/
/src/main/__pycache__/
/src/main/migrations/__pycache__/
/src/main/templatetags/__pycache__/
/src/social_media_manager/__pycache__/
/src/social_media_manager/migrations/__pycache__/
/src/warehouse_admin/__pycache__/
/src/warehouse_admin/migrations/__pycache__/