{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include 'alerts.html' %}
<div style="float: right;">
    <form method="POST">
        {% csrf_token %}
        <td><button type="submit" id="export_button" class="btn btn-xs btn-info">Export</button></td>
        <td><a id="button" class="btn btn-xs btn-info" href="{% url namespaec|add:'DamagedGoodsPage' %}">Back</a></td>
    </form>
</div>
<h2>Damaged Goods History</h2>
<table style="text-align:center;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">ITEM</th>
            <th scope="col">BATCH</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">RECEIVED FROM</th>
            <th scope="col">DATE</th>
            <th scope="col">DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        {% for item in page_obj %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ item.item }}</td>
            <td>{{ item.batch }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.received_from }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}