{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="float: right;">
    {% if page_obj.0.stock.id == 1 %}
        <td><a id="button" class="btn btn-xs btn-info" href="{% url namespaec|add:'MainStorageGoodsPage' %}">Back</a></td>
    {% else %}        
        <td><a id="button" class="btn btn-xs btn-info" href="{% url namespaec|add:'DistributorStockPage' page_obj.0.stock.id %}">Back</a></td>
    {% endif %}
</div>
<h2>{{ page_obj.0.stock }} - {{page_obj.0.type}}</h2>
<table style="text-align:center;" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">NO.</th>
        <th scope="col">ITEM</th>
        <th scope="col">BATCHES</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">RECIVING DATE</th>
        <th scope="col">RECEIVED FROM</th>
    </tr>
    </thead>
    <tbody>
    {% for item in page_obj %}
    <tr>
        <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.batch }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.receiving_date }}</td>
        <td>{{ item.received_from }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
