{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Distributed Goods</h2>
<table style="text-align:center;" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">NO.</th>
        <th scope="col">NAME</th>
        <th scope="col">GENDER</th>
        <th scope="col">NATIONALITY</th>
        <th scope="col">QUANTITY OF GOODS</th>
        <th scope="col">STOCK</th>
    </tr>
    </thead>
    <tbody>
    {% for distributor in page_obj %}
    <tr>
        <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
        <td>{{ distributor.person.name }}</td>
        <td>{{ distributor.person.gender }}</td>
        <td>{{ distributor.person.nationality }}</td>
        <td>{{ distributor.stock.getTotalGoodsInStock }}</td>
        <td><a class="btn btn-sm btn-info" href="{% url namespaec|add:'DistributorStockPage' distributor.stock.id %}">View</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
