{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include 'alerts.html' %}
<div style="float: right;">
    <form method="POST">
        {% csrf_token %}
        <td><button type="submit" id="export_button" class="btn btn-xs btn-info">Export</button></td>
        <td><a id="button" class="btn btn-xs btn-info" href="{% url namespaec|add:'RegisterItemPage' %}">Register New Items</a></td>
    </form>
</div>
<h2>Registered Items</h2>
<table style="text-align:center;" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">NO.</th>
        <th scope="col">NAME</th>
        <th scope="col">CODE</th>
        <th scope="col">WEIGHT</th>
    </tr>
    </thead>
    <tbody>
    {% for item in page_obj %}
    <tr>
        <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.weight}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
